@page
@model TeacherLoader.asp_net.v1.Pages.homeModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 4, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>
                Welcome to our site!
            </h2>
            <p>
                Goal:
                Registration system for TYstudents taking the Computer Science TYProgramme using CSV files

            </p>
        </div>
    </div>




        <div class="row">
            <div class="col-md-12">
                <p>
                    The goal we have is to make a system that allows teachers to upload their CSV files in a easy and fast way. This website will allow
                    for a Sign-up and Log-in system that will help with security and make monitoring easy.
                    With the end goal being an easy to use system for any teacher with any backround.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">

                <h3>
                    Services provided
                </h3>

                <ul>
                    <li class="list-item">
                        Easy to upload
                    </li>
                    <li class="list-item">
                        security guarinteed
                    </li>
                    <li class="list-item">
                        Sign-up / sign-in system
                    </li>
                    <li class="list-item">
                        Based on a teachers experience
                    </li>

                </ul>
            </div>
        </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Instructions for uploading your CSV
                    </h3>
                    <h6>
                        Step 1:
                    </h6>
                    <p>
                        Navigate to the upload page

                    </p>
                    <h6>
                        Step 2:
                    </h6>
                    <p>
                        Select chose files

                    </p>
                    <h6>
                        Step 3:
                    </h6>
                    <p>
                        Select the CSV file you wish to upload

                    </p>



                </div>
            </div>










                

                <script src="js/jquery.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="js/scripts.js"></script>
</body>
</html>